@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 100vh; display: flex; align-items: center; justify-content: center; background-image: url('/images/anasayfa.jpg'); background-size: cover; background-position: center;">
    <div style="background-color: rgba(0, 0, 0, 0.3); padding: 20px 40px; border-radius: 12px; text-align: center; color: #ffffff; max-width: 600px; width: 80%; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p> <a href="https://localhost:44383/Uye/Giris" style="color: #ffc107; text-decoration: none;">Randevu almak için tıklayınız.</a></p>
    </div>
</div>

